<html>
<body>
<script type="application/processing">
// Global variables
int bubble_count = 1;
int X=500, Y=300;
int nX=500, nY=300;
int delay = 5;
var bubbles = [];

var Bubble = function(r){
	this.radius  = r;
	this.x = X;
	this.y = Y;
	this.draw_bubble = function(radius){
			this.radius = radius;
			stroke(0,121,184);
			fill(255);  //fill inner white 
			ellipse( this.x,this.y, this.radius, this.radius );                  
	};
	this.collide = function(){
	};
}; 

// Setup the Processing Canvas
void setup(){
  size(1800,800  );
  strokeWeight( 10 );
  frameRate( 30 );
  radius = 100 + sin( frameCount / 2 );
  for (var i=0 ; i < bubble_count ; i++){ 
  	bubbles[i] = new Bubble(radius);
	} 	 
}

// Main draw loop
void draw(){
  var radius = 100 + 10*sin( frameCount / 2 );
  // Track circle to new destination
  X+=(nX-X)/delay;
  Y+=(nY-Y)/delay;
  
// Fill canvas white
  background( 255 );

  for (var i=0 ; i < bubble_count ; i++){ 
		bubbles[i].draw_bubble(radius);
	} 	 

//  	b2 = new Bubble(radius1,radius2);
   //b1.draw_bubble(300,300);
	//  b2.draw_bubble(X,Y);
}


// Set circle's next destination
//void mouseMoved(){  
//	nX = mouseX;
// nY = mouseY;
//}

void mouseClicked(){
  var radius = 200 + 10*sin( frameCount / 2 );
	X = mouseX;
	Y = mouseY;
	bubbles[bubble_count] = new Bubble( radius);
	alert(bubble_count);
	bubble_count = bubble_count +1;
}
</script><canvas width=1800px height=800px ></canvas>
<pre> </pre>
<a href="/create_a_new_todo">CREATE A NEW TODO</a>
<a href="/logout">logout</a>
<h1>To Do</h2>
<% i = 0 %>
<% to_do.each{ | t |  %>
	<%i +=1 %>
	<h2> <%=i%> </h2>
	<h3><%=t.description%> 
  <h4> Created on <%= t.created_on%></h4>
  <h4> Deadline on <%= t.deadline%></h4>
<%} %>
</body>
</html>

