<html>
<body>
<script type="application/processing">
// Global variables
//float radius1 = 100.0;
//float radius2 = 120.0;
int num=1;
int max_speed = 10;
int X= 500;
int Y= 500;
int nX, nY;
int delay = 5;
var bubbles = [];

function Bubble(r1,r2,xdir,ydir,speed){
	//initializing variables
	this.radius1  = r1;
	this.radius2  = r2;
	this.x = X;
	this.y = Y;
	this.speed = speed;
	this.xdir = xdir; 
	this.ydir = ydir;
  //
	this.draw_bubble = function(){
  		this.radius1 = 100 + 2*sin( frameCount / 4 );
  		this.radius2 = 105 + 2*sin( frameCount / 4);
			fill( 0,121,184);  //fill color blue of bigger bubble 
			ellipse( this.x,this.y, this.radius2, this.radius2 );                  
			fill(255);  //fill inner white 
			ellipse( this.x,this.y, this.radius1, this.radius1 );                 
	};

	this.move = function(){
		// neear the faces of the wall 
		// find the angle with the wall and bounce in opp direction	
		new_x= this.x + this.xdir*(this.speed*max_speed);
		new_y =this.y + this.ydir*(this.speed*max_speed); 
		if ((new_x + this.radius2) >width ){
			alert(new_x);
			alert(new_x +this.radius2);
			this.xdir *= -1;
		}
		if ((new_x - this.radius2) < 0  ){
			this.xdir *= -1;
		}
		if (new_y +this.radius2 > height){
			this.ydir *= -1;
	  }
		if (new_y - this.radius2 < 0){
			this.ydir *= -1;
	  }
    this.x = new_x;
		this.y = new_y;
 	};

	this.collide = function(){
	
  };
	this.fall = function(){	
		this.xdir=0;
		this.ydir=1; 
	}
}; 

// Setup the Processing Canvas
void setup(){
  size( 1850,800 );
  strokeWeight( 1 );
  frameRate( 30 );
  radius1 = 100 ;
  radius2 = 105 ;
  for (var i=0 ; i < num ; i++){ 
  	bubbles[i] = new Bubble(radius1,radius2,1.414,1.414,0.1);
	} 	 
}

// Main draw loop
void draw(){
  radius1 = 100 + 10*sin( frameCount / 15 );
  radius2 = 105 + 10*sin( frameCount / 15);
  // Track circle to new destination
  X+=(nX-X)/delay;
  Y+=(nY-Y)/delay;
  
  X1=300;
  Y1=300;
  // Fill canvas grey
  //background( 100 );
  // Fill canvas white
  background( 255 );
   
   
  for (var i=0 ; i < num ; i++){ 
		bubbles[i].move();
	} 	 

  for (var i=0 ; i < num ; i++){ 
		bubbles[i].draw_bubble();
	} 	 
}


// Set circle's next destination
void mouseMoved(){
  nX = mouseX;
  nY = mouseY;  
}

</script><canvas width="1000px" height="1000px"></canvas>
<pre> </pre>
<h1></h2>
<% i = 0 %>
<% to_do.each{ | t |  %>
	<%i +=1 %>
	<h2> <%=i%> </h2>
	<h3><%=t.description%> 
  <h4> Created on <%= t.created_on%></h4>
  <h4> Deadline on <%= t.deadline%></h4>
<%} %>
</body>
</html>

