<html>
<body background='bgimage.jpg'>
<h1> This is the login page in development </h1>
<form name = "login" action = "/login" method = "post" >
Username <input type = "text" value="" name="username"/><br /><br />
Password <input type = "text" value="" name="password"/>
<form>
 <input type = "submit" value="login" />
</body>
<html>

