<html>
<head>
<title>Processing.js - Basic Example</title>      
<script language="javascript" src="processing.init.js"></script>
<script language="javascript" src="processing.js"></script>
</head>
<body>

<script type="application/processing">
// Global variables
float radius1 = 100.0;
float radius2 = 120.0;
int X, Y;
int nX, nY;
int delay = 5;


var Bubble = function(r1,r2){
	this.radius1  = r1;
	this.radius2  = r2;
	this.draw_bubble = function(x,y){
			this.x =x
			this.y = y
			fill( 0,121,184);  //fill color blue of bigger bubble 
			ellipse( x,y, this.radius2, this.radius2 );                  
			fill(255);  //fill inner white 
			ellipse( x,y, this.radius1, this.radius1 );                  
	};
}; 

// Setup the Processing Canvas
void setup(){
  size( 1000,400 );
  strokeWeight( 1 );
  frameRate( 30 );
  X = width / 2;
  Y = height / 2;
  nX = X;
  nY = Y;  
}


// Main draw loop
void draw(){
  
  radius1 = 100 + sin( frameCount / 2 );
  radius2 = 105 + sin( frameCount / 2 );
  
  // Track circle to new destination
  X+=(nX-X)/delay;
  Y+=(nY-Y)/delay;
  
  X1=300;
  Y1=300;
  // Fill canvas grey
  //background( 100 );
  // Fill canvas white
  background( 255 );
   
  var bubbles=[];
  for (var i=1 ; i < 5 ; i++){ 
  	b = new Bubble(radius1,radius2);
		bubbles[i] = b
	} 	 
   
  for (var i=1 ; i < 5 ; i++){ 
		bubbles[i].draw_bubble(i*100,100);
	} 	 

  	b2 = new Bubble(radius1,radius2);
   //b1.draw_bubble(300,300);
	  b2.draw_bubble(X,Y);
}


// Set circle's next destination
void mouseMoved(){
  nX = mouseX;
  nY = mouseY;  
}

</script><canvas width="1000px" height="400px"></canvas>

<pre>
</pre>

</body>
</html>
